@font-face {
    font-family: 'Feixen';
    src: url("../fonts/FeixenSansVariable.ttf");
}
body {
    font-family: "Feixen" !important;
    font-variation-settings: 'wght' 100, 'wdth' 30;
    background-color:navy;
    color: aliceblue;
}
th, td {
    border-bottom: none !important;
}
.headline{
    letter-spacing: 0.1em;
    font-variation-settings: 'wght' 300, 'wdth' 100;
}
h3{
    font-variation-settings: 'wght' 100, 'wdth' 20;
}
h5{
    font-variation-settings: 'wght' 300, 'wdth' 50;
}
.normal-text{
    font-variation-settings: 'wght' 100, 'wdth' 10;   
}
.role{
    color: #aaa;
}

/* Links Override
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: honeydew; 
}
a:hover {
    color: yellow;
}

/* Lists Override
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle outside !important; 
}

/* Video Background
/* Ref: https://blog.hubspot.com/website/video-background-css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#video-bg {
    position: fixed; right: 0; bottom: 0; z-index: -10;
    width: 100vw; height: 100vh; object-fit: cover;
}
.mask {
    position: fixed; top: 0; left: 0; z-index: -1;
    width: 100%; height: 100vh;
    opacity: 0.6;
    background-color: black;
}
/* h3 > a {
    color: white; 
}
h3 > a:hover {
    color: lightgoldeyenrodyellow;
} */